BPEL_AutoCheckService/bpelContent/CRV.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://crv.soacourse.unsw.edu.au" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CRV"
	targetNamespace="http://crv.soacourse.unsw.edu.au">
	<wsdl:types>
		<xsd:schema targetNamespace="http://crv.soacourse.unsw.edu.au">
			<xsd:element name="CRVRequest">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="licenseNumber" nillable="false"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="CRVResponseCode">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="CLEAN" />
					<xsd:enumeration value="DIRTY" />
					<xsd:enumeration value="UNKNOWN" />
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="CRVResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="responseCode" nillable="false"
							type="tns:CRVResponseCode"></xsd:element>
						<xsd:element name="responseMessage" nillable="false"
							type="xsd:string"></xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CRVRequestMsg">
		<wsdl:part element="tns:CRVRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="CRVResponseMsg">
		<wsdl:part element="tns:CRVResponse" name="parameters" />
	</wsdl:message>

	<wsdl:portType name="CRVService">
		<wsdl:operation name="CRVCheck">
			<wsdl:input message="tns:CRVRequestMsg" />
			<wsdl:output message="tns:CRVResponseMsg" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="CRVSOAP" type="tns:CRVService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="CRVCheck">
			<soap:operation soapAction="http://crv.soacourse.unsw.edu.au/CRVCheck" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="CRVService">
		<wsdl:port binding="tns:CRVSOAP" name="CRVService">
			<soap:address location="http://localhost:8080/CRVService/CRVService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
